/* base settings */
body {
    margin: 0;
    overflow: hidden; /* prevents scrollbars on the main page */
    background-color: #050505; /* matches the 3d scene background */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #e0e0e0; 
    font-size: 15px; 
}

/* 3d canvas positioning */
canvas {
    display: block;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 0;
}

/* global container for sidebars */
#ui-container {
    position: absolute;
    left: 5vh;
    top: 5vh;
    width: 35vh;
    z-index: 10;
    
    display: flex;
    flex-direction: column; /* piling childs (sidebars) in vertically */
    gap: 2vh; /* 5vh between both sidebars */
}

/* shared style for both sidebars */
.panel {
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}


/* link styling */
a {
    color: #fff;
    text-decoration: underline;
    opacity: 0.7;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 1;
}